<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-dark mb-4"><%= @lesson.category.title %></h1>
        <h1 class="text-dark mb-4"><%= @lesson.answers.count + 1 %> of <%= @lesson.category.words.count %></h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body p-5">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="card-title"><%= @word.content %></h2>
                    </div>
                    <% @word.choices.each do |choice| %>
                        <%= form_with(model: [@lesson, @answer], local: true) do |f| %>
                            <%= f.hidden_field :choice_id, value: choice.id %>
                            <%= f.hidden_field :word_id, value: @word.id %>
                            <%= f.submit choice.content, class: "btn btn-warning w-100 mt-4" %>
                        <% end %>
                    <% end %>
                    <div>
                        <div class="countdown-bar" style="--countdown-time: 10;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>